@import "variable.less";
@import "mixin.less";
.main-container {
  display: grid;
  .width(100%,0%);
  .grid(0.2fr,2fr,2fr,3fr);
  background: @colour1;
  border: 1px solid @card2;
 .border-radius(5px);
 .container1 {
  width: 88px;
  border-right: 1px solid @colour;
  .logo {
    position: relative;
    display: inline-block;
    border-bottom: 1px solid @colour;
    img {
      .padding(15px);
      margin-left: auto;
      margin-right: auto;
      display: block;
      .width(61%,0%);
      .curser();
    }
    .logoname {
      .tooltip(); 
      top: 100%;
      left: 50%;
    }
    &:hover .logoname {
      visibility: visible;
    }
  }
  .icons {
    .width(88px,88px);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: @light-blue;
    .curser();
    &:hover {
      border-right: 3px solid @colour2;
      color: @colour2;
    }
    .dot1 {
     .border-radius(50%);
     .width(8px,8px);
       background:@background;
       display: inline-block;
       position: relative;
       bottom: 10px;
       right: 4px;
}
.dot2 {
  .dot1;
  background: rgb(255, 72, 0);
}
  }
  .image {
    img {
      .border-radius(50%);
      .curser();
      .width(30px,30px);
      .padding(27px);
      margin: auto;
      display: block;
      opacity:0.5;
      &:hover{
        opacity: 2;
      }
    }
  }
  .dot4 {
    .width(8px,8px);
    background:@background;
    .border-radius(50%);
    display: inline-block;
    position: relative;
    bottom: 60px;
    left: 48px;
    border: 2px solid @colour1;
  }
  .power {
    font-size: 30px;
    text-align: center;
    color: rgba(0, 0, 0, 0.39);
    margin-top: 20px;
    .curser();
    &:hover {
      color: @black;
    }
  }
}
.container2 {
  border-right: 1px solid @colour;
  .top-heading{
    .top-heading();
  }
  .headings {
    .padding(30px);
    h3 {
      font-family: @font;
      float: left;
    }
    .liveprice {
      float: right;
      .heading1 {
        color:@colour3;
        font-size: 13px;
        .padding1(0px,0px,0px,45px);
      }
      .liveprice1 {
        font-weight: 600;
        font-size:24px;
        .padding1(10px,10px,0px,10px);
      }
      .decreasing-price {
        color: @red;
        font-size: 13px;
      .padding1(0px,0px,0px,16px);

        span {
          color:@colour3;
          .padding1(0px,0px,0px,12px);
        }
      }
    }
  }
  .graph{
    img {
     .width(95%,50%);
     .padding(10px);
     .margin1(14px,0px,0px,0px)
   }
  }
  .heading{
    .heading();
  }
  .menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    .padding(20px);
    .menu1 {
      border: 1px solid @colour;
      .border-radius(5px);
      .padding(10px);
      .margin(5px);
      font-size: 30px;
      text-align: center;
      .curser();
      &:hover {
        border: 1px solid;
        .box-shadow(5px 5px);
      }
      p {
        font-size: 13px;
        font-family: @font;
      }
      .hand {
        color: @green;
      }
      .laptop{
       color: @orange;
      }
      .book{
        .laptop();
      }
      .building {
        color: @colour2;
      }
      .bank {
        color: lightseagreen;
      }
      .columns {
        color:@pink;
      }
      .credit {
        color: @skyblue;
      }
      .tags{
        .credit();
      }
      .money-bill-alt {
        color: @red;
      }
      .money-bill{
        .money-bill-alt();
      }
      .amazon {
        color:@blue;
      }
      .donate {
        color: @pink;
      }
    }
  }
}
.container3 {
  border-right: 1px solid @colour;
  background-color: @opt-colour;
  .top-heading{
    .top-heading();
  }
  .wallet {
    .padding1(20px,15px,20px,15px);
    p {
      color:@colour3;
    }
    .price1 {
      .wallet1 {
        float: left;
        em {
          font-size: 30px;
          color:@blue;
        }
      }
      .price2 {
        color: rgb(4, 4, 112);
        font-size: 32px;
        font-weight: 600;
        font-family: 'Courier New', Courier, monospace;
      }
      .options {
        font-size: 27px;
        border: none;
        color:@colour3;
        background-color: @opt-colour;
        float: right;
        .curser();
        outline: none;
        .dropdown {
          font-size: 15px;
        }
      }
    }
  }
  .activity {
    .padding1(40px,15px,10px,15px);
    h3 {
      font-weight: bold;
      font-family: @font;
    }
    .options1 {
      display: flex;
      justify-content: space-around;
      .options2 {
        .width(94px,30px);
        .curser();
        border: 1px solid @colour;
        .border-radius(10px);
        .padding(5px);
        outline: none;
      }
    }
    .card {
      border: 1px solid @colour;
      .margin1(20px,0px,0px,0px);
      .border-radius(5px);
      background: @colour1;
      .col1 {
        display: grid;
       .grid(70%,25%,0%,0%);
        .padding(2px);
        .width(100%,70px);
        .logo-img {
          display: grid;
          .grid(50px,80px,0px,0px);
          .padding(15px);
        }
        .btc {
          color:@colour3;
        }
      }
      .col2 {
        display: grid;
        .grid(70%,24%,0%,0%);
        .padding1(0px,0px,15px,20px);
        .clock{
          em{
            .padding1(5px,5px,0px,0px);
            color:@colour3;
          }
        }
        .button {
          .width(70px,30px);
          border: 1px solid @black;
          border-radius: 10px;
          background: @black;
          color: @colour1;
          margin-top: 15px;
          .curser();
          &:hover {
            background: @colour1;
            color: @black;
          }
        }
      }
    }
  }
  .heading{
    .heading();
  }
  .history {
    .padding1(0px,20px,20px,20px);
    .his-card {
      border: 1px solid @colour;
      .padding1(0px,10px,10px,10px);
      .border-radius(5px);
      background: @colour1;
      .history1 {
        display: grid;
        .grid(91%,9%,0%,0%);
        .history-col {
          .padding1(20px,10px,10px,10px);
          .btc1 {
            color: @dark-gray;
            font-family: @font;
            font-weight: 600;
          }
          .doller {
            color:@colour3;
            font-size: large;
          }
        }
        .button-col {
          border: none;
          background: transparent;
          color: @dark-gray;
          font-size: 25px;
          &:hover {
            border: none;
            .curser();
          }
        }
      }
      .graph2{
         img {
         .width(100%,30%)
       }
      }
    }
  }
}
.container4{
  border-right: 1px solid @colour;
  .nav {
    display: grid;
    .nav-grid(10%,14%,46%,15%,15%);
    border-bottom: 1px solid @colour;
    .padding(12px);
    align-items: center;
    .bell1{
      .gear();
      .padding1(10px,10px,0px,10px);
      .margin1(0px,30px,0px,0px)
    }
    .dot3 {
      .width(7px,7px);
      background:@dark-orenge;
      .border-radius(50%);
      border: 1px solid rgb(135, 9, 241);
      display: block;
      position: relative;
      bottom: 21px;
      left: 10px;
    }
    .search-container {
      border: 1px solid@light-gray;
      padding: 10px;
      .border-radius(5px);
       em {
        font-size: 20px;
        color: @colour;
        .curser();
        &:hover {
          color:@black;
        }
      }
       input {
        outline: none;
        border: none;
        font-size: 73%;
        .padding1(0px,0px,0px,10px);
        font-family: @font;
      }
    }
    .slider {
      text-align: center;
      cursor: grabbing;
    }
    .profile {
      position: relative;
      display: inline-block;
      img {
         .width(30px,30px);
         .border-radius(5px);
        .curser();
        margin-left: auto;
        margin-right: auto;
        display: block;
        &:hover {
          border: 3px solid @colour;
        }
      }
      .proname {
        .tooltip();
        top: 120%;
        right: 30%;
      }
      &:hover .proname {
        visibility: visible;
      }
    }
  }
  .container5 {
    .padding(20px);
    .col3 {
      .padding(20px);
      .bit-co{
        float: left;
      }
      .image-bit {
        display: flex;
        img {
          .width(30px,30px);
          .padding1(0px,10px,0px,7px);

        }
      }
      .bitcoin {
        .padding1(8px,0px,0px,0px);
        font-family: @font;
        font-weight: 500;
         span {
          .padding1(8px,0px,0px,8px);
          color:@colour3;
        }
      }
      .doller2 {
        font-size: 20px;
        font-weight: 600;
        .padding(10px);
        font-family: monospace;
        span {
          font-size: 12px;
          .padding1(0px,0px,0px,10px);
          color: @green;
        }
      }
      .currency {
        .padding1(8px,0px,0px,0px);
        float: right;
        button {
          background: @black;
          color: @colour1;
          .border-radius(20px);
          font-size: 10px;
        }
      }
    }
    .graph3{
      img {
         .width(92%,0%);
         .padding(20px);
      }
    }
    .heading2 {
      font-size: 24px;
      font-family: @font;
      font-weight: 600;
    }
    .cards {
      display: grid;
      .grid(35%,35%,155px,0%);
      font-family: @font;
      font-size: 10px;
      .card1 {
        border: none;
        .border-radius(5px);
        .margin(5px);
        background:@colour2;
        justify-content: center;
        color: @colour1;
        .width(95%,92%);
        img {
          .width(86%,0%);
          .padding(10px);
        }
        .card-row1 {
          text-align: center;
          .padding1(20px,20px,0px,20px);
        }
        .spending {
          .padding(5px);
        }
      }
      .sup {
        font-size: 17px;
        font-weight: 600;
        .padding1(0px,0px,10px,0px);
      }
      sup {
        font-size: 10px;
        .padding1(0px,5px,0px,0px);
      }
      .card-row2 {
        .padding1(20px,0px,20px,0px);
        align-items: center;
        .button2 {
          margin: 0% 15% 10% 4%;
          background: @orange;
          border: none;
          .border-radius(20px);
          .width(15px,10px);
        }
        .button3 {
          margin: 0% 15% 0% 4%;
          background:@skyblue;
          border: none;
          .border-radius(20px);
          .width(15px,10px);
        }
      }
      .card2 {
        .card1();
        background:@card2;
        color: @black;
        img {
          .width(80%,0%);
          .padding1(10px,10px,10px,15px);
        }
        .spending1 {
          color: @colour3;
          .padding(5px);
        }
      }
      .inside-card1 {
        border: none;
        .border-radius(5px);
        display: flex;
        .margin1(7px,10px,10px,5px);
        height: 28%;
        background:@card2;
        p {
          .padding1(13px,2px,0px,0px);
        }
        img {
          .width(35px,35px);
          .padding1(22px,5px,20px,9px);
        }
        .income1 {
          color: @colour2;
          font-size: 16px;
          font-weight: 600;
        }
      }
      .inside-card2 {
        .inside-card1();
        border: 1px solid @colour2;
        p {
          .padding1(13px,3px,0px,0px);
        }
        .income2 {
          .income1();
          color: @red;
        }
      }
      .inside-card3 {
        .inside-card1();
        background: @colour2;
        color: @colour1;
         p {
          .padding1(13px,3px,0px,0px);
        }
        .income3 {
          .income1();
          color: @colour1;
        }
      }
    }
  }
}
}

