.main-container {
  display: grid;
  grid-template-columns: 0.5fr 2fr 2fr 3fr;
  background: white;
  height: 100%;
  border: 1px solid lavender;
  border-radius: 5px;
}
.container1 {
  width: 86px;
  border-right: 1px solid lightgray;
}
.logo {
  border-bottom: 1px solid lightgray;
}
.logo img {
  padding: 15px;
  width: 49px;
  cursor: pointer;
}
.icons {
  width: 86px;
  height: 86px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: #7a8bf8;
  cursor: pointer;
}
.icons:hover {
  border-right: 3px solid #3954fa;
  color: #3954fa;
}
.dot1,
.dot2,
.dot4 {
  height: 8px;
  width: 8px;
  background: rgb(48, 123, 236);
  border-radius: 50%;
  display: inline-block;
  position: relative;
  bottom: 8px;
  right: 5px;
}
.dot2 {
  background: rgb(255, 72, 0);
}
.image img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 27px;
  cursor: pointer;
}
.dot4 {
  bottom: 62px;
  left: 45px;
  border: 2px solid white;
}
.power {
  font-size: 30px;
  padding: 25px 20px 20px 27px;
  cursor: pointer;
}
.container2 {
  border-right: 1px solid rgba(107, 106, 106, 0.945);
  width: 100%;
}
h3 {
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
}
.top-heading {
  border-bottom: 1px solid lightgray;
  padding: 10px 0px 8px 20px;
  font-size: smaller;
}
.headings {
  padding: 30px;
}
.heading1 {
  color: rgb(161, 160, 160);
  font-size: smaller;
  padding-left: 45px;
}
.headings h3 {
  font-family: Arial, Helvetica, sans-serif;
  float: left;
}
.liveprice {
  float: right;
}
.liveprice1 {
  font-weight: 600;
  font-size: x-large;
  padding: 10px 10px 0px 10px;
}
.decreasing-price {
  color: red;
  font-size: smaller;
  padding-left: 16px;
}
.decreasing-price span {
  color: rgb(161, 160, 160);
  padding-left: 10px;
}
.graph img {
  width: 95%;
  height: 50%;
  padding: 5px;
  margin-top: 14px;
}
.heading {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 20px;
}
.menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
}
.menu1 {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  font-size: 30px;
  text-align: center;
  cursor: pointer;
}
.menu1:hover {
  border: 1px solid;
  box-shadow: 5px 5px rgba(32, 32, 32, 0.493);
}
.menu1 p {
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
}
.hand {
  color: lightgreen;
}
.laptop,
.book {
  color: orange;
}
.building {
  color: rgb(114, 114, 240);
}
.bank {
  color: lightseagreen;
}
.columns {
  color: violet;
}
.credit {
  color: lightblue;
}
.money-bill-alt,
.money-bill {
  color: red;
}
.amazon {
  color: blue;
}
.donate {
  color: lightpink;
}
.tags {
  color: lightskyblue;
}
.container3 {
  border-right: 1px solid lightgray;
  background-color: rgba(255, 250, 250, 0.877);
}
.top-heading2 {
  border-bottom: 1px solid lightgray;
  padding: 10px 0px 8px 20px;
  font-size: smaller;
}
.wallet {
  padding: 20px;
}
.wallet p {
  color: rgb(161, 160, 160);
}
.price1 {
  display: flex;
}
.price2 {
  color: rgb(4, 4, 112);
  font-size: xx-large;
  font-weight: 600;
  font-family: 'Courier New', Courier, monospace;
}
.wallet1 em {
  font-size: 30px;
  color: blue;
  padding: 5px;
}
.options {
  font-size: 27px;
  padding-left: 8px;
  border: none;
  color: rgb(161, 160, 160);
  background-color: rgba(255, 250, 250, 0.877);
  cursor: pointer;
  outline: none;
}
.activity {
  padding: 20px 20px 3px 20px;
}
.activity h3 {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.options1 {
  width: 32%;
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 5px;
  outline: none;
}
.options2 {
  display: flex;
  justify-content: space-around;
}
.card {
  border: 1px solid lightgray;
  margin-top: 20px;
  border-radius: 5px;
  background: white;
}
.col1 {
  display: grid;
  grid-template-columns: 66% 25%;
  padding: 2px;
  height: 45px;
}
.logo-img {
  display: grid;
  grid-template-columns: 50px 80px;
  padding: 15px;
}
.col2 {
  display: grid;
  grid-template-columns: 185px 70px;
  padding: 20px;
}
.clock em,
.star em {
  padding-right: 5px;
}
.button {
  width: 40%;
  height: 30px;
  border: 1px solid black;
  border-radius: 10px;
  padding-right: 50px;
  background: black;
  color: white;
  cursor: pointer;
}
.button:hover {
  background: white;
  color: black;
}
.btc {
  color: rgb(161, 160, 160);
}
.clock em {
  color: lightgray;
  padding: 0px 10px 10px 3px;
}
.star em {
  color: lightgray;
  padding: 0px 7px 0px 1px;
}
.history {
  padding: 0px 20px 20px 20px;
}
.his-card {
  border: 1px solid lightgray;
  padding: 0px 10px 10px 10px;
  border-radius: 5px;
  background: white;
}
.history1 {
  display: grid;
  grid-template-columns: 91% 9%;
}
.history-col {
  padding: 20px 10px 10px 10px;
}
.button-col {
  border: none;
  background: transparent;
  color: rgb(88, 85, 85);
  font-size: x-large;
}
.button-col:hover {
  border: none;
  background: lightgray;
  border-radius: 5px;
}
.btc1 {
  color: rgb(105, 103, 103);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}
.doller {
  color: rgb(161, 160, 160);
  font-size: large;
}
.graph2 img {
  width: 100%;
  height: 30px;
}
.container5 {
  padding: 20px 0px;
}
.nav {
  display: grid;
  grid-template-columns: 50px 50px 260px 95px 46px;
  border-bottom: 1px solid lightgray;
  padding: 14px 20px 9px 20px;
  align-items: center;
}
.gear,
.bell1 {
  font-size: 20px;
  border: none;
  padding: 9px;
  border-radius: 5px;
  margin: 0px 10px 0px 0px;
  background: rgb(241, 238, 240);
  color: rgb(161, 160, 160);
  cursor: pointer;
  text-align: center;
}
.gear:hover,
.bell1:hover {
  box-shadow: 2px 2px lightgray;
}
.bell1 {
  padding: 10px 10px 0px 10px;
}
.dot3 {
  height: 7px;
  width: 7px;
  background: rgb(255 134 0);
  border-radius: 50%;
  border: 1px solid rgba(80, 78, 78, 0.884);
  display: block;
  position: relative;
  bottom: 22px;
  left: 10px;
}
.profile img {
  width: 30px;
  border-radius: 50%;
  height: 30px;
  cursor: pointer;
}
.profile img:hover {
  border: 2px solid rgb(30, 31, 31);
}
.search-container {
  border: 1px solid rgb(241, 238, 240);
  padding: 10px;
  border-radius: 20px;
}
.search-container em {
  font-size: 20px;
  color: lightgray;
  cursor: pointer;
}
.search-container i:hover {
  background: rgb(241, 241, 241);
}
.search-container input {
  outline: none;
  border: none;
  font-size: medium;
  padding-left: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
.slider {
  text-align: center;
}
.col3 {
  display: grid;
  grid-template-columns: 60% 40%;
  padding: 20px;
}
.image-bit {
  display: flex;
}
.image-bit img {
  width: 30px;
  height: 30px;
  padding-right: 10px;
  padding-left: 7px;
}
.bitcoin {
  padding-top: 8px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}
.bitcoin span {
  padding-top: 8px;
  padding-left: 8px;
  color: rgb(161, 160, 160);
}
.doller2 {
  font-size: x-large;
  font-weight: 600;
  padding: 5px;
  font-family: monospace;
}
.doller2 span {
  font-size: small;
  padding-left: 10px;
  color: lightgreen;
}
.currency {
  padding-top: 8px;
}
.currency button {
  background: black;
  color: white;
  border-radius: 20px;
  font-size: x-small;
}
.graph3 img {
  padding: 20px;
}
.heading2 {
  font-size: x-large;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 20px;
  font-weight: 600;
}
.cards {
  display: grid;
  grid-template-columns: 35% 35% 34%;
  padding: 0px 20px 20px 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-small;
}
.number {
  font-size: larger;
}
.sup {
  font-size: large;
  font-weight: 600;
  padding-bottom: 10px;
}
.card1 {
  border: none;
  border-radius: 5px;
  margin: 5px;
  background: #4053f8;
  justify-content: center;
  color: white;
}
.card2 {
  border: none;
  border-radius: 5px;
  margin: 5px;
  background: #f5f4f9;
  justify-content: center;
}
.card1 img {
  width: 86%;
  padding: 10px;
}
.card-row1 {
  text-align: center;
  padding: 20px 20px 0px 20px;
}
.card2 img {
  width: 86%;
  padding: 10px;
}
.button2 {
  margin: 0px 20px 15px 10px;
  background: orange;
  border: none;
  border-radius: 20px;
  width: 15px;
  height: 10px;
}
.btn-spn {
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
}
.button3 {
  margin: 0px 20px 0px 10px;
  background: skyblue;
  border: none;
  border-radius: 20px;
  width: 15px;
  height: 10px;
}
.card-row2 {
  padding: 20px 0px 20px 0px;
  align-items: center;
}
.inside-card1 {
  border: none;
  border-radius: 5px;
  display: flex;
  margin: 7px 16px 15px 5px;
  background: #f5f4f9;
}
.inside-card1 p {
  padding: 13px 20px 0px 0px;
}
.inside-card1 img {
  width: 35px;
  height: 35px;
  padding: 22px 5px 20px 9px;
}
.income1 {
  color: #4053f8;
  font-size: medium;
  font-weight: 600;
}
.inside-card2 {
  border: 1px solid #4053f8;
  border-radius: 5px;
  display: flex;
  margin: 7px 16px 15px 5px;
}
.inside-card2 p {
  padding: 13px 20px 0px 0px;
}
.inside-card2 img {
  width: 35px;
  height: 35px;
  padding: 22px 5px 20px 9px;
}
.income2 {
  color: red;
  font-size: medium;
  font-weight: 600;
}
.inside-card3 {
  border: none;
  border-radius: 5px;
  display: flex;
  margin: 7px 16px 1px 5px;
  background: #3954fa;
  color: white;
}
.inside-card3 p {
  padding: 13px 20px 0px 0px;
}
.inside-card3 img {
  width: 35px;
  height: 35px;
  padding: 22px 5px 20px 9px;
}
.income3 {
  color: white;
  font-size: medium;
  font-weight: 600;
}
