//-----------------------------------------------mixin--------------------------------------//
.heading {
  font-weight: bold;
  font-family: @font;
  .padding1(0px,0px,0px,20px);
}
.gear{
  .curser();
  font-size: 20px;
  border: none;
  padding: 9px;
  width: 25px;
  .border-radius(5px);
  .margin1(0px,10px,0px,0px);
  background:@light-gray;
  color:@colour3;
  text-align: center;
  &:hover {
  box-shadow: 2px 2px @colour;
}
}
.top-heading {
  border-bottom: 1px solid @colour;
  .padding1(10px,0px,5px,20px);
  font-size: 14px;
  h3 {
    text-align: left;
    font-family: @font;
  }
}
.grid(@a,@b,@c,@d){
  grid-template-columns: @a @b @c @d ; 
}
.nav-grid(@a,@b,@c,@d,@e){
  grid-template-columns: @a @b @c @d @e; 
}
.border-radius(@radius) {
  border-radius: @radius;
}
.box-shadow(@x: 0, @y: 0, @blur: 1px, @color: @logocolor) {
  box-shadow: @arguments;
}
.width(@width,@hight){
  width: @width;
  height: @hight;
}
.padding(@all){
  padding: @all;
}
.padding1(@top,@right,@bottom,@left){
  padding-top: @top;
  padding-right: @right;
  padding-bottom: @bottom;
  padding-left: @left;
}
.margin(@all){
  margin: @all;
}
.margin1(@top,@right,@bottom,@left){
  margin-top: @top;
  margin-right: @right;
  margin-bottom: @bottom;
  margin-left: @left;
}
.curser{
  cursor: pointer;
}
.tooltip{
      visibility: hidden;
      .width(100px,20px);
      background-color: @logocolor;
      color: @colour1;
      text-align: center;
      border-radius: 6px;
      padding: 5px 0;
      position: absolute;
      z-index: 1;
}