* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url('https://www.itl.cat/pngfile/big/210-2101051_dark-web-scanning-background-image-for-website-of.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.last-cell {
  border-right: none;
}
.main {
  text-align: center;
  color: white;
  margin-top: 10px;
}
.table-box {
  margin: 50px auto;
}
.table-row {
  background: transparent;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 5, 0.3);
  color: #555;
  display: table;
  font-size: 13px;
  font-family: sans-serif;
  margin: 10px auto;
  padding: 12px 0;
  width: 80%;
}
.table-cell {
  border-right: 1px solid black;
  display: table-cell;
  padding: 4px 0;
  text-align: center;
  vertical-align: middle;
  width: 30%;
}
.table-head {
  background: rgb(27, 27, 116);
  box-shadow: none;
  color: #fff;
  font-weight: 600;
}
.table-head .table-cell {
  border-right: none;
}
a {
  text-decoration: none;
  color: white;
  font-size: medium;
  font-weight: bolder;
}
