.box {
  animation-duration: 4s;
  animation-name: anim2;
  background-color: olivedrab;
  height: 200px;
  position: relative;
  width: 200px;
}
@keyframes anim {
  0% {
    background-color: aqua;
    left: 0;
    top: 0;
  }
  100% {
    background-color: green;
    left: 500px;
    top: 0;
  }
}
@keyframes anim2 {
  0% {
    background-color: aqua;
    left: 0;
    top: 0;
  }
  25% {
    background-color: green;
    left: 500px;
    top: 0;
  }
  50% {
    background-color: greenyellow;
    left: 500px;
    top: 500px;
  }
  75% {
    background-color: blue;
    left: 0px;
    top: 500px;
  }
  100% {
    background-color: aqua;
    left: 0px;
    top: 0px;
  }
}
