div{

    width: 500px;
    height: 500px;
    border: 5px solid red;
    color: aquamarine;
    background-image:url(../../images/sanj.jpg) ;
    margin:100px auto;
}
#div1{

    width: 500px;
    height: 500px;
    border: 5px solid red;
    color: aquamarine;
    background-image:url(../../images/dashboard4.jpg) ;
    margin:100px auto;
    background-color: 200px;
}
#div2{

    width: 500px;
    height: 500px;
    border: 5px solid red;
    color: aquamarine;
    background-image: url(../../images/sanj.jpg);
    margin:100px auto;
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: center;
}