a:link{

    font-size: 35px;
     text-decoration:none; 
     color:goldenrod;
    }
    a:visited{
        color:rgb(0, 255, 191);
    }
    a:hover{
        color:blue;
    }
     a:active{
        color:red ;
    }
     .dropdpwn-content a{
        display:none ;
    }